.contents
  .contents__user
    = @nickname
    さんの投稿一覧
  .content_message
    - @messages.each do |message|
      = render partial: "messages/message", locals: { message: message}
      -# .contents__post 
      -#   .message_title 
      -#     = message.title
      -#   .message_name
      -#     = message.name
      -#   .message_text 
      -#     = message.text
      -#   .btn 
      -#     = link_to message_path(message) do
      -#       Show