* {
  box-sizing: border-box;
}
.contents {
  width: 100vw;
  height: 100vh;
  background-color: rgb(158, 213, 235);
  display: flex;
  justify-content: center;
  &__post {
    margin-top: 80px;
    width: 70vw;
    height: 42vh;
    background-color: #5c658b;
    color: rgba(0, 0, 0, 0.8);
    .message_title {
      border: 1px solid gray;
      background-color: whitesmoke;
      margin: 5px 10px;
      padding: 3px 5px;
    }
    .message_name {
      border: 1px solid gray;
      background-color: whitesmoke;
      margin: 5px 10px;
      padding: 3px 5px;
    }
    .message_text {
      border: 1px solid gray;
      background-color: whitesmoke;
      margin: 5px 10px; 
      height: 250px;
      padding: 3px 5px;
    }
    .message_nickname {
      border: 1px solid gray;
      background-color: whitesmoke;
      margin: 5px 10px;
      text-align: center;
      width: 150px;
      padding: 3px 5px;
    }
  }
}