* {
  box-sizing: border-box;
}
.contents {
  background-color: lightskyblue;
  overflow: hidden;
  .search_box {
    height: 80px;
    .search_form {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      font-size: 20px;
      .search_input {
        height: 50px;
        width: 55vw;
        margin-right: 15px;
        padding: 0 5px;
        border-radius: 10px;
        border: 2px solid #5c658b;
      }
      .search_btn {
        border-radius: 15px;
        display: block;
        border: none;
        background-color: #d37b33;
        height: 50px;
        width: 100px;
        color: whitesmoke;
      }
    }
  }
  &__post {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: calc(100vw - 30vw);
    height: calc(100vh - 50vh);
    background-color: #5c658b;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    padding: 1px;
    position: relative;
    .message_title {
      height: calc(50vh - 45vh);
      border: 1px solid gray;
      background-color: white;
      margin: 8px 10px;
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 20px;
    }
    .message_name {
      height: calc(50vh - 45vh);
      border: 1px solid gray;
      background-color: white;
      margin: 8px 10px;
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 20px;
    }
    .message_text {
      border: 1px solid gray;
      background-color: white;
      margin: 8px 10px; 
      height: calc(50vh - 170px);
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 20px;
    }
    .message_nickname {
      margin: 8px 10px;
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      .user_nickname {
        color: cornsilk;
        display: block;
        text-decoration: none;
      }
    }
    .btn {
      position: absolute;
      right: 50px;
      bottom: 5px;
      width: 50px;
      height: 50px;
      a {
        padding-top: 5px;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        display: block;
        color: #d37b33;
      }
    }
  }
}