* {
  box-sizing: border-box;
}
.contents {
  background-color: lightskyblue;
  overflow: hidden;
  .search_box {
    height: 80px;
    background-color: lightskyblue;
  }
  &__post {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: calc(100vw - 30vw);
    height: calc(100vh - 50vh);
    background-color: #5c658b;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    padding: 1px;
    .message_title {
      height: calc(50vh - 45vh);
      border: 1px solid gray;
      background-color: whitesmoke;
      margin: 8px 10px;
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 25px;
    }
    .message_name {
      height: calc(50vh - 45vh);
      border: 1px solid gray;
      background-color: whitesmoke;
      margin: 8px 10px;
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 25px;
    }
    .message_text {
      border: 1px solid gray;
      background-color: whitesmoke;
      margin: 8px 10px; 
      height: calc(50vh - 170px);
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 25px;
    }
    .message_nickname {
      border: 1px solid gray;
      background-color: whitesmoke;
      margin: 8px 10px;
      text-align: center;
      height: calc(50vh - 45vh);
      width: calc(70vw - 400px);
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 25px;
    }
  }
}