.header__bar.row {
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
  height: 50px;
}
.title {
  text-decoration: none;
  color: #5c658b;
  letter-spacing: 0.15em;
  font-size: 25px;
  line-height: 50px;
  font-weight: bold;
}
.post {
  text-decoration: none;
  letter-spacing: 0.15em;
  line-height: 50px;
  padding: 4px 12px;
  border: 3px solid rgba(209, 124, 13, 0.719);
  color: rgba(209, 124, 13, 0.719);
  border-radius: 4px;
  font-size: 20px;
}
.footer{
  color: #d37b33;
  font-size: 20px;
  text-align: center;
  background-color: lightgray;
}